[submodule "vendor/odin-sqlite3"]
	path = vendor/odin-sqlite3
	url = https://github.com/saenai255/odin-sqlite3.git
[submodule "vendor/odin-postgresql"]
	path = vendor/odin-postgresql
	url = https://github.com/laytan/odin-postgresql.git
[submodule "vendor/odin-imgui"]
	path = vendor/odin-imgui
	url = https://gitlab.com/L-4/odin-imgui.git
